* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	background-color: #1A303F;
}



.headerr{
	font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
	display: flex;
	align-items: center;
	font-size: 15px;
	margin-left: 10px;
	margin-top: 105px;
	padding: 2px;
	color: white;
	width: 200px;
}


.headerr h1{
	font-size: 26px;
}

.container_all{
	display: flex;
	height: 100vh;
	width: 100%;
	background-color: #1A303F;
}

.side_bar{
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	height: 70%;
	background-color: #2B505C;
	margin-top: 40px;
	margin-left: 10px;
	margin-right: 30px;
	border-radius: 16px;
	width: 70px; /* collapsed */
	transition: width 0.3s;
	overflow: hidden;
}
.side_bar:hover {
	display: flex;
	width: 190px; /* expanded */
  }

.label{
	display: none;
}
.side_bar button{
	display: flex;
    align-items: center;
	gap: 8px;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #2B505C;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.4s;
}
.side_bar:hover button span {
	display: inline; /* show text on hover */
	margin-left: 10px;
  }

.side_bar button svg {
	width: 20px;
	height: 20px;
}

.side_bar button:hover{
	background-color: #061826;
}
.middle{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #607D7E;
	height: 70%;
	width: 80%;
	margin-top: 40px;
	margin-left: 6%;
	border-radius: 16px;
}


.middle_1{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.middle_2{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
.end_of_side{
	display: flex;
	margin-top: auto;
	flex-direction: column;
}

.bucket{
	margin-left: 30px;
	height: 80%;
	width: 37%;
	background-color: #061826;
	border-radius: 10px;
}






/* for sign in */

.container_sign{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #061826;
	height: 100vh;
	width: 100%;
}

.middle_sign{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60%;
	width: 70%;
}

.middle_sign_in{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 110%;
	width: 30%;
	background-color: #2B505C ;
}

.img_style{
	height: 110%;
	width: 30%;
	background-color:aliceblue;
}


/* style the input sign in*/